@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Six+Caps&display=swap');

.header{
    padding: 15px;
    border-bottom: solid thin #999AA7;
 }
 .GITgirls-logo{
    height: 50px;
    width: 50px;
 }
.logo{
    height: 20%;
}
.h200{
    height: 200px;
}
/* TASK STYLES */
.pic{
    height: 75px;
    background-color: gray;
    border-color: black;
    border-radius: 45px;
}
.pink{
    color: #E897B6;
}
.white{
    background-color: #FFFFFF;
}
.fwhite{
    color:white;
}
.gray{
    color: #999AA7;
}
.peach{
    background-color: #FFB6B3;
}
.lightgray{
    background-color: #E9EBF0;
}
.f50{
    font-size: 50px;
}
.f36{
    font-size: 36px;
}
.h100{
    height: 100px;
}
.h80{
    height: 80px;
    width: 100px;
}
.h80w150{
    height: 80px;
    width: 150px;
}
.bold{
    font-weight: bold;
}
.sixcaps{
    font-family: 'Six Caps', sans-serif;
}
.ibm{
    font-family: 'IBM Plex Serif', serif;
}
.ptpb{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* END TASK STYLES */