body{
    font-family: 'ibm-plex-serif', sans-serif;
    letter-spacing: 1px;
}

.container{
    background-color:#FFB6B3;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.welcome{
    font-family: 'IBM plex serif', serif;
    color: #999AA7;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
/**** END HEADER ****/
.sub_button{
    background-color: #E9EBF0;
    width: 25%;
    margin: 0 auto;
}

.createAccount{
    /* width: 45%; */
    margin: 0 auto;
    margin-top: 20px;
}

/**** START LOGIN FORM ****/
.form-control{
    padding: 10px;
    height: 45px
}

.modal-content{
    background-color:#999AA7;
}
.modal-header, .modal-body{
    border-bottom: thin solid #FFB6B3;
    color: #FFFFFF;
}
.submitButton{
    color: #FFFFFF;
    letter-spacing: 1px;
    border: none;
    padding: 3px;
}
.submitButton{
    width: 80px;
    background-color: #FFB6B3;
}
.input-group-text, .input-group, .btn{
    padding: 5px;
}
.custom-radio{
    margin-left: 10px;
}
/* Border radius and font for buttons and modal */
.form-control, .sub_button, .submitButton, .createAccount, .input-group-text, .input-group, .btn{
    border-radius: 20px;
    font-family: 'IBM plex serif', serif;
    font-style: italic;
}
.signin{
    padding-top: 12px;
    text-align: center;
}
.cancelBtn, .submitBtn{
    padding-left: 20px;
    padding-right: 20px;
}
/**** END LOGIN FORM ****/