@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Six+Caps&display=swap');
/* font-family: 'IBM Plex Serif', serif;
font-family: 'Six Caps', sans-serif; */

button {
    color:blue;
}
form {
    display: box;
    background-color:rgb(172, 172, 162);
    width: 95%;
    margin: auto;

}
p {
    display:box;
    width: 95%;
    margin: auto;
}

body {
    background-color: #FFFFFF;
    display: box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
h1{
    display: box;
    width: 100px;
    margin: auto;
}

div {
    display: box;
    width: 95%;
    margin: auto;
}

.header{
    padding: 15px;
    border-bottom: solid thin #999AA7;
 }
.GITgirls-logo{
    height: 50px;
    width: 50px;
 }
 
.logo{
    height: 20%;
}
.h200{
    height: 200px;
}
/* TASK STYLES */
.pic{
    height: 75px;
    background-color: gray;
    border-color: black;
    border-radius: 45px;
}
.pink{
    color: #E897B6;
}
.white{
    background-color: #FFFFFF;
}
.fwhite{
    color:white;
}
.gray{
    color: #999AA7;
}
.peach{
    background-color: #FFB6B3;
}
.lightgray{
    background-color: #E9EBF0;
}
.f50{
    font-size: 50px;
}
.f36{
    font-size: 36px;
}
.h100{
    height: 100px;
}
.h80{
    height: 80px;
    width: 100px;
}
.h80w150{
    height: 80px;
    width: 150px;
}
.bold{
    font-weight: bold;
}
.sixcaps{
    font-family: 'Six Caps', sans-serif;
}
.ibm{
    font-family: 'IBM Plex Serif', serif;
}
.ptpb{
    padding-top: 10px;
    padding-bottom: 10px;
}
.stylestuff{
        background-color: #999AA7;
        border-radius: 25px;
        color: white;
        padding: 28px;
        font-size: 15px;
        border: none;
        width: 15%;
        margin: auto;
}
.btn{
    float: left;
    margin-bottom: 10px;

}
/* 
styles stuff */

.dropbtn {
    background-color: #999AA7;
    border-radius: 25px;
    color: white;
    padding: 28px;
    font-size: 25px;
    border: none;
    width: 80%;
    margin: auto;
  }
  
.dropdown {
    position: relative;
    display: block;
    text-align: center;
    
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
  }
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#E897B6 ;}

i {
border: solid white;
border-width: 0 3px 4px 0;
display: inline-block;
padding: 5px;
margin-bottom: 2%;

}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
.font-stuff {
  font-family: mongoose, sans-serif;
  color: #999AA7;
}