.dropbtn {
    background-color: #999AA7;
    border-radius: 25px;
    color: white;
    padding: 28px;
    font-size: 25px;
    border: none;
    width: 80%;
    margin: auto;
  }
  
.dropdown {
    position: relative;
    display: block;
    text-align: center;
    
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
  }
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#E897B6 ;}

i {
border: solid white;
border-width: 0 3px 4px 0;
display: inline-block;
padding: 5px;
margin-bottom: 2%;

}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}
.font-stuff {
  font-family: mongoose, sans-serif;
  color: #999AA7;
}
