body{
   font-family: ibm-plex-serif, sans-serif;
   letter-spacing: 1px;
   background-color:#F4f5fd;
   height: 100vh;
}

/**** START HEADER ****/
.header{
   padding: 15px;
   border-bottom: solid thin #999AA7;
}
.GITgirls-logo{
   height: 50px;
   width: 50px;
}
/**** END HEADER ****/

.createButton, .editButton{
   width: 40%;
   border: none;
   border-radius: 15px;
   color:#999AA7;
   padding: 10px 32px;
   text-decoration: none;
   background-color: #ffffff;
   font-size: 20px;
   margin: 4px 4px;
  }
 
.boxed{
   border-radius: 10px;
   color: #E897B6;
   padding: 10px;
}

.dates{
   padding-top: 5px;
   font-size: 45px;
}

.box{
   margin: 5px;
   height: 200px;
   background: #e897b6;
   border-radius: 10px;
   color: #FFFFFF;
   width: 70%;
   padding: 5px;
}


.box-2{
   margin: 5px;
   height: 200px;
   border-radius: 10px;
   background-color: #999AA7;
   color: #FFFFFF;
   width: 20%;
   padding: 5px;
}

.box-3{
   margin: 5px;
   height: 200px;
   border-radius: 10px;
   background-color:#DFE6F5;
   color: #E897B6;
   width: 45%;
   padding: 5px;
}
.box-4{
   margin: 5px;
   height: 200px;
   border-radius: 10px;
   background-color:#E9EBF0;
   color: #FFB6B3;
   width: 45%;
   padding: 5px;
}


.box-5{
   margin: 5px;
   height: 200px;
   border-radius: 10px;
   background-color: #E9EBF0;
   color: #999AA7;
   width: 30%;
   padding: 5px;
}

.box-6{
   margin: 5px;
   height: 200px;
   border-radius: 10px;
   background-color: #FFB6B3;
   color: #FFFFFF;
   width: 30%;
   padding: 5px;
}

.box-7{
   margin: 5px;
   height: 200px;
   border-radius: 10px;
   background-color: #E9EBF0;
   color: #999AA7;
   width: 30%;
   padding: 5px;
}

.pic{
   height: 75px;
   background-color:gray;
   border-color: black;
   border-radius: 45px;
}
.pink{
   color: #E897B6;
}
.white{
   background-color: #FFFFFF;
}
.fwhite{
   color:white;
}
.gray{
   color: #999AA7;
}
.peach{
   background-color: #FFB6B3;
}
.lightgray{
   background-color: #E9EBF0;
}
.f22{
   font-size: 22px;
}
.f14{
   font-size: 14px;
}
.f12{
   font-size: 12px;
}
.h100{
   height: 100px;
}
.h80{
   height: 80px;
   width: 98%;
}
.h80w150{
   height: 80px;
   width: 150px;
}
.bold{
   font-weight: bold;
}
.sixcaps{
   font-family: mongoose, sans-serif;
   font-weight: 400;
   font-style: normal;
}
.ibm{
   font-family: 'IBM Plex Serif', serif;
}
.ptpb{
   padding-top: 10px;
   padding-bottom: 10px;
}
.ggheader{
    text-align: center;
    color:#E897B6;
}
  *{
   box-sizing: border-box;
  }
  img {
   vertical-align: middle;
  }
  
 .container{
   position: relative;
 }
 
 .mySlides {
   display: none;
 }
 
 .cursor {
   cursor: pointer;
 }
  /* Next & previous buttons */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 16px;
   margin-top: -50px;
   color: white;
   font-weight: bold;
   font-size: 20px;
   border-radius: 0 3px 3px 0;
   user-select: none;
   -webkit-user-select: none;
 }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } 
  /* On hover, add a black background color with a little bit see-through */
 .prev:hover,
 .next:hover {
   background-color: rgba(231, 184, 202, 0.8);
 }
  /* Number text (1/3 etc) */
 .numbertext {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
 }
  /* Container for image text */
 .caption-container{
   text-align: center;
   background-color: #E897B6;
   padding: 2px 16px;
   color: white;
 }
  .row:after {
   content: "";
   display: table;
   clear: both;
  }
  /* Six columns side by side */
 .column {
   float: left;
   width: 16.66%;
 }
  /* Add a transparency effect for thumnbail images */
 .demo {
   opacity: 0.6;
 }
  .active,
 .demo:hover {
   opacity: 1;
 }

 /**** START NAV BAR ****/
nav{
   background: #F4F5FD;
}
.h80{
    height: 60px;
    width: 90%; 
}
.peach{
    background-color: #FFB6B3;
}
.fwhite{
    color:white;
}
.extraSpace{
    height: 85px;
}
.ptpb{
    padding-top: 10px;
    padding-bottom: 20px;
}
.lightgray{
   background-color: #f4f5f4;
}
/**** END NAV BAR ****/

a:hover{
    color:#0056b3;
    text-decoration:none;
}
.ink{
   font-size: 22px;
}
.nameSize{
   font-size: 28px;
}